---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="JT | Me" description="About JT">
  <h1>Me</h1>
  <div class="card">
    <p>Short bio + contact info.</p>
  </div>
</BaseLayout>
